<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Infante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pedro Infante</h1>
        <p>Pedro Infante fue un actor y cantante mexicano, considerado uno de los más grandes iconos de la Época de Oro del cine mexicano. Nació el 18 de noviembre de 1917 en Mazatlán, Sinaloa, México, y falleció trágicamente en un accidente de avión el 15 de abril de 1957.</p>
        <p>Infante es conocido por sus interpretaciones en películas como "Los tres García", "Nosotros los pobres", "Ustedes los ricos" y "Pepe el Toro". También fue un talentoso cantante, y algunas de sus canciones más famosas incluyen "Cien años", "Amorcito corazón" y "Lupita".</p>
        <p>Su legado sigue vivo en la cultura mexicana, y su música y películas continúan siendo populares hasta el día de hoy.</p>
        <p>Realizare una modificacion por aqui de prueba nomas</p>
        <p>Estamos probando</p>
        <p>Cambiando esto</p>
    </div>
</body>
</html>
